.container {
  display: flex;
  flex-direction: column;
  width: 380px;
  height: 460px;
}

.form {
  display: flex;
}

.form-field{
  text-align: center;
  margin-left: 44px;
  margin-right: 44px;
  margin-top: 5px;
}

.mat-dialog-actions{
  margin-top: 20px;
}

.mat-form-field {
  font-size: 16px;
  flex-grow: 1;
}

mat-select{
  max-width: 250px;
}

h3{
  text-align: center;
}