<div class="container">
    <div class="title">
        <h1>O Nama</h1>
      </div>
      <div class="content">
        <div class="text">
          <p>Dobrodošli na našu stranicu posvećenu zdravstvenim ustanovama! Ovde možete pronaći informacije o bolnicama, njihovim odeljenjima, dijagnozama i pacijentima.</p>
          <p>Naš cilj je pružiti vam sveobuhvatne podatke o zdravstvenim ustanovama u vašem regionu. Na stranici bolnica možete pronaći osnovne informacije o svakoj bolnici uključujući i adresu. </p>
          <p>Nastojimo da pružimo relevantne i pouzdane informacije kako biste doneli informisane odluke o svojoj zdravstvenoj nezi.</p>
          <p>Nastojimo da pružimo relevantne i pouzdane informacije kako biste doneli informisane odluke o svojoj zdravstvenoj nezi.</p>
          <p>Hvala vam što ste posetili našu stranicu i nadamo se da će vam biti od koristi u vašoj potrazi za zdravstvenim informacijama!</p>
        </div>
        <div class="image">
            <img src="https://cdn-icons-png.flaticon.com/512/3309/3309748.png" alt="My Image">
        </div>
      </div>
  <div class="buttons">
    <p>Pregled opcija</p>
    <button routerLink="/bolnica">Bolnice</button>
    <button routerLink="/dijagnoza">Dijagnoze</button>
    <button  routerLink="/odeljenje">Odeljenja</button>
  </div>
</div>